#ignore virtual environment 
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode and __pycache__ directories
__pycache__/

#ignore csvs
Usernames.csv
High_elo_Usernames.csv
Match_Data.csv