#ignore virtual environment 
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode and __pycache__ directories
__pycache__/

#ignore csvs
Usernames.csv
High_elo_Usernames.csv
Match_Data.csv

#tempcoderunners
tempCodeRunnerFile.py 
tempCodeRunnerFile.python 

#old db
lol_database.db

#error log
api_errors.log

#lambda venv
my_lambda_package/